<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
<div class="container">
    <div class="row mx-auto" style="width: 60%">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <h1 class="mt-5 mb-3 text-center"><b>Book a Flight</b></h1>
            <div>
                <label><b>Full Name</b></label>
                <span style="color:red;" *ngIf="form.get('fullName')?.errors?.['required']"> *Full name required</span>
                <input class="form-control" type="text" formControlName="fullName">
            </div><br />
            <div class="row">
                <div class="col-md-6">
                    <label><b>From</b></label>
                    <span style="color:red;" *ngIf="form.get('from')?.errors?.['required']"> *from airport
                        required</span>
                    <select class="form-select" formControlName="from">
                        <option value="" disabled selected>From airport</option>
                        <option *ngFor="let item of Airport" [ngValue]="item.name"> {{item.name}} </option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label><b>To</b></label>
                    <span style="color:red;" *ngIf="form.get('to')?.errors?.['required']"> *To airport required</span>
                    <select class="form-select" formControlName="to">
                        <option value="" disabled selected>To airport</option>
                        <option *ngFor="let item of Airport" [ngValue]="item.name"> {{item.name}} </option>
                    </select>
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    <label><b>Trip Type</b></label>
                    <span style="color:red;" *ngIf="form.get('type')?.errors?.['required']"> *Trip Type
                        required</span><br />
                    <input class="form-check-input" type="radio" value="One way" formControlName="type">
                    <label>
                        Oneway
                    </label>
                    <input class="form-check-input" type="radio" value="Return" formControlName="type">
                    <label>
                        Return
                    </label>
                </div>
                <div class="col-md-4">
                    <label><b>Departure</b></label>
                    <span style="color:red;" *ngIf="form.get('departure')?.errors?.['required']"> *Departure required</span>                 
                    <mat-form-field appearance="fill">
                        <mat-label>Departure</mat-label>
                        <input matInput [matDatepicker]="Departurepicker" [min]="myDate" formControlName="departure">
                        <mat-datepicker-toggle matSuffix [for]="Departurepicker"></mat-datepicker-toggle>
                        <mat-datepicker #Departurepicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <label><b>Arrival</b></label>
                    <span style="color:red;" *ngIf="form.get('arrival')?.errors?.['required']"> *Arrival required</span><br />
                    <mat-form-field appearance="fill">
                        <mat-label>Arrival</mat-label>
                        <input matInput [matDatepicker]="Arrivalpicker" [min]="form.value.departure" formControlName="arrival">
                        <mat-datepicker-toggle matSuffix [for]="Arrivalpicker"></mat-datepicker-toggle>
                        <mat-datepicker #Arrivalpicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4" id="datetimepicker">
                    <label><b>Adults</b></label>
                    <span style="color:red;" *ngIf="form.get('adults')?.errors?.['required']"> *Adults
                        required</span><br />
                    <input class="form-control" type="number" value="0" min="0" max="10" formControlName="adults">
                </div>
                <div class="col-md-4">
                    <label><b>Children</b></label>
                    <span style="color:red;" *ngIf="form.get('children')?.errors?.['required']"> *Children
                        required</span><br />
                    <input class="form-control" type="number" value="0" min="0" max="10" formControlName="children">
                </div>
                <div class="col-md-4">
                    <label><b>Infants</b></label>
                    <span style="color:red;" *ngIf="form.get('infants')?.errors?.['required']"> *Infants
                        required</span><br />
                    <input class="form-control" type="number" value="0" min="0" max="5" formControlName="infants">
                </div>
            </div><br />
            <div class="d-grid gap-2">
                <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col">Full name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Trip Type</th>
            <th scope="col">Departure</th>
            <th scope="col">Arrival</th>
            <th scope="col">Adults</th>
            <th scope="col">Children</th>
            <th scope="col">Infants</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of flight">
            <td>{{ f.fullName }}</td>
            <td>{{ f.from }}</td>
            <td>{{ f.to }}</td>
            <td>{{ f.type }}</td>
            <td>{{ f.departure.getDate() + '/' + (f.departure.getMonth() + 1) + '/' + f.departure.getFullYear() }}</td>
            <td>{{ f.arrival.getDate() + '/' + (f.arrival.getMonth() + 1) + '/' + f.arrival.getFullYear() }}</td>
            <td>{{ f.adults }}</td>
            <td>{{ f.children }}</td>
            <td>{{ f.infants }}</td>
          </tr>
        </tbody>
      </table>
</div>
